{% extends 'main.html' %}

{% block title %}Homepage{% endblock title %}Homepage

{% block body %} 
<center>
<div>
  <a href="/start" target="_parent">
    <button type="button" class="btn btn-info">START ATTENDANCE</button>
  </a>
  <a href="/reg_teacher" target="_parent">
  <button type="button" class="btn btn-info">REGISTER TEACHER</button>
  </a>
  <a href="/reg_student" target="_parent">
  <button type="button" class="btn btn-info">REGISTER STUDENT</button>
  </a>
  
</div>
</center>

{% endblock body %} 

