{% extends 'main.html' %}

{% block title %}REGISTER TEACHER{% endblock title %}

{% block body %} 
  <table class="box" align="center"  cellspacing="5" cellpadding="5">
    <tr>
        <th>
          <label for="ID"><b><font color="white">Teacher ID</font><b></label>
        </th>  
        <th>  
          <input type ="text" name="t_id" size="10" maxlength="5" autocomplete="on"   
                placeholder="Teacher ID" required="required" tabindex="1" onfocus="this.placeholder=' '" 
                onblur="this.placeholder='Teacher ID'"/>
        </th>
      </tr>
      <tr>    
        <th>
            <label for="Name"><b><font color="white">Teacher NAME</font><b></label>
        </th> 
        <th>   
            <input type ="text" name="t_name" size="20" maxlength="30" autocomplete="on"   
                  placeholder="Teacher NAME" required="required" tabindex="2" onfocus="this.placeholder=' '" 
                  onblur="this.placeholder='Teacher NAME'"/>
        </th>
      </tr>
      <tr>
          <th>
            <label for="dept"><b><font color="white">Department</font><b></label> 
          </th>      
          <th>
              <select>
                  <option value="Computer Science">Computer Science</option>
                  <option value="Statistics">Statistics</option>
                  <option value="Mathematics">Mathematics</option>
              </select>
          </th>
        </tr>
        <tr>
            <div class="dropdown show">
              <th>
                <label for="scode"><b><font color="white">Subject Code</font><b></label> 
                </th>
                <th>    
                  <select>
                          <option value="CMSM4321">CMSM4321</option>
                          <option value="CMSM4322">CMSM4322</option>
                          <option value="CMSM4323">CMSM4323</option>
                        </select>
                      </th>
                          </div>
          <tr>
              <th>
                <label for="Password"><b><font color="white">Password</font><b></label>
            
                </th>
                <th>
            <input type="password" required="required" name="t_pswd" size="20" minlength="6" maxlength="8" tabindex="5"  
            placeholder="MIN 6 CHARS" onfocus="this.placeholder=' '"
            onblur="this.placeholder='MIN 6 CHARS'"/>
                </th>
              </tr>
              <tr>
                <th>
                </th>
              </tr>
            <tr>
              <th>
              <a href="/register" target="_parent"> 
                 &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                 
                 <button type="button" class="btn btn-info">REGISTER</button>
               </a>
              </th>
              </tr>
            </table>
        
 {% endblock body %}  