{% extends 'main.html' %}

{% block title %}Start Attendance{% endblock title %}

{% block body %} 
  <table class="box" align="center"  cellspacing="5" cellpadding="5">
    <tr>
      <th>
      <label for="Username"><b><font color="white">Teacher Username</font><b></label>
      </th>
      <th>
        <input type ="text" name="tname" size="20" maxlength="30" autocomplete="on"   
            placeholder="Teacher UserName" required="required" tabindex="1" onfocus="this.placeholder=' '" 
            onblur="this.placeholder='Teacher UserName'"/>
			<font color="red">*</font>
      </th>
      <tr>
        <th>
      <label for="Password"><b><font color="white">Password</font><b></label>
        
      </th>
      <th>
        <input type="password" required="required" name="Password" size="20" minlength="6" maxlength="8" tabindex="2"  
        placeholder="MIN 6 CHARS" onfocus="this.placeholder=' '"
        onblur="this.placeholder='MIN 6 CHARS'"/>
        <font color="red">*</font>
      </th>
      <tr>
        <th>
        <label for="scode"><b><font color="white">Subject Code</font><b></label> 
        </th>
        <th>       
            <select>
              <option value="CMSM4321">CMSM4321</option>
              <option value="CMSM4322">CMSM4322</option>
              <option value="CMSM4323">CMSM4323</option>
            </select>
          </th>
        </tr>
      </table>
              <a href="/capture" target="_parent"> 
                <center>
                <button type="button" class="btn btn-info">START ATTENDANCE</button>
                </center>
              </a>
            
        
{% endblock body %} 